.hidden {
    opacity: 0;
}

/* List */

.clean-list {
    list-style-type: none;
    padding: 0;
}

.inline-list {
    list-style-type: none;
    padding: 0;

    li {
        display: inline-block;
    }
}

/* Text Align */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Flex Helpers */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.justify-center {
    justify-content: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-grow {
    flex-grow: 1;
}

.flex-dont-grow {
    flex-grow: 0;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-dont-shrink {
    flex-shrink: 0;
}

/* Height */

.full-height {
    height: 100%;
}

.text-center {
    text-align: center;
}
